*{
    margin: 0;
    padding: 0;
}

.container{
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #bdbbbb;
  
}
p{
    font-weight: bold;
}

img{
    max-width: 100%;
}

 .carts{
    max-width: 160px;
}

 .cart{
    max-width: 145px;
}

 .line{
    height: 8em;
}


.title{
    text-transform: uppercase;
    text-align: center;  
    color: crimson;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 30px;
}

.active img{
    background: rgb(159, 247, 76);
}


